body {
	width: 100%;
	background-color: #f2f2f2;
	color: #d4d4d4;
	font-family: 'Roboto Slab', Verdana;
	font-size: 1em;
}

h1 {
	margin-top: 0;
}

/*SEARCH BAR*/
#search_bar {
	width: 60%;
	height: auto;
	left: 2em;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	border: #fcaf5d solid 3px;
	background-color: #fff;
	overflow: hidden;
}

.search_box {
	width: 95%;
	border:none;
	background-color: transparent;
	float: left;
	color: #d4d4d4;
	font-family: 'Roboto Slab', Verdana;
	font-size: 2.3em;
	text-align: center;
	/*overflow: hidden;*/
	/*position: fixed;*/
}

.search_button {
	width: 5%;
	height: 4em;
	background-color: #fcaf5d;
	border: none;
	color: #fff;
	font-family: 'Roboto Slab', Verdana;
	font-weight: bold;
}
.search_button:hover {
	background-color: #ffcc66;
	cursor: pointer;
}
/*End SEARCH BAR*/


#result_display {
	width: 70%;
	height: 20em;
	margin: auto;
	margin-top: 10%;
	border-radius: 40px;
	border: #fcaf5d solid 3px;
	background-color: #fff;
	overflow: hidden;
}

.title {
	width: 100%;
	text-align: center;
	background-color: #fcaf5d;
	font-family: 'Amaranth', Arial;
	color: #fff;
}