@{title('Something awesome')}
<!-- <a href="#" id="logo"><img src="img/logo.png"></a> -->

<div id="search_bar">
	<form action="/" method="POST">
		<input class="search_box" type="text" name="request" value="@{model.url}"
		onFocus="if (this.value == 'Entrez l\'ULR de l\'annonce leboncoin.fr') this.value = '';"
		onBlur="if (this.value == '') this.value = 'Entrez l\'ULR de l\'annonce leboncoin.fr';">
		<button class="search_button" title="Lancer la recherche" class="search_go" value=" "/>
	</form>
</div>

<a href="#" id="logo"></a>
